/* General */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box; /* Garantiza que el padding y borde no afecten las dimensiones */
    font-family: Arial, sans-serif;
}

/* Cabecera */
.cabecera {
    width: 100%;
    height: 200px;
    background-color: #0072c6;
    display: flex;
    justify-content: space-between; /* Mantiene otros elementos en sus posiciones */
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo img {
    width: 150px;
    height: auto;
}

.titulo h1 {
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute; /* Posiciona el título de forma independiente */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta la posición para que el centro del texto coincida con el 50% */
    margin: 0;
}
